@page
@model studentexpat.com.Pages.admin.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Admin Panel</h2>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="programs"  role="button">Programs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="programTypes" role="button">Program Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="schools" role="button">Schools</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="categories"role="button">Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="subcategories"  role="button">Sub-Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="languages" role="button">Languages</a>
    </li>
</ul>